*.iml
*/build
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea
/build
/build-cache
/captures
/local.properties
build
local.properties
keystore.properties

iosApp/iosApp/GoogleService-Info.plist
android-user-app/google-services.json