<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877667910489-t45gh62l7rfcsn80eo37dd6r0bgb7tco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877667910489-t45gh62l7rfcsn80eo37dd6r0bgb7tco</string>
	<key>API_KEY</key>
	<string>AIzaSyDXmrKrHAUNNKVziWfKUWVYYQfq9uh1KgU</string>
	<key>GCM_SENDER_ID</key>
	<string>877667910489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>memorize-shlokas.iosApp</string>
	<key>PROJECT_ID</key>
	<string>memorize-shloka</string>
	<key>STORAGE_BUCKET</key>
	<string>memorize-shloka.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877667910489:ios:a0a022847439640a934248</string>
</dict>
</plist>